body{
  font-family:"Arial", "Meiryo", sans-serif;
  font-size:20px;
}

h1{
  font-family:Josefin Sans,sans-serif;
  font-size: 2em;
  letter-spacing: 1.8em;
  text-shadow: 1px 1px 2px gray;
  text-decoration: underline rgb(115, 115, 114);
}

.skyblue{
   color: skyblue;
}

.pink{
   color: rgb(255, 192, 203);
}

#parent div{
   font-weight: bold;
}